<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url shorter</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="nav-bar">
    <p class="heading">Url shorter</p>
    <div class="author">
        sankar
    </div>
    </nav>
    <form id="form">
            <input type="text" id="url" placeholder="enter your url" autofocus>
        <div class="effect">
        <input type="submit" class="short-btn" value="">
        <p class="loading"></p>
        </div>
    </form>
    <div style="display: none;" class="short-url">
        <div class="batch">Shorted url</div> 
    <div class="shorten-box">
        <a target="_blank" id="shorten" href="https://github.com/sankar-raul">https://github.com/sankar-raul</a>
        </div>  
    </div>
    <script src="/js/script.js"></script>
</body>
</html>