* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::spelling-error {
    text-decoration: none;
}
::selection {
    background-color: #ffffff2f;
}
:root {
    --shorten-box-bg: #58a9ff0f;
    --box-bg: #ffffff07;
    --primary-text-color: #e6edf3;
    --secondary-text-color: #8d96a0;
    --link-color: #4493f8;
}
html {
    cursor: url('/res/cursor.svg') 10 10, auto;
}
body {
    background: #0E1116;
    overflow: hidden;
}
.heading {
    font-size: 1.7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    padding-left: 3vw;
}
.nav-bar {
    background-color: #020409;
    border-bottom: 1.5px solid #30363Df0;
    color: #b8c0c9;
    width: 100%;
    position: relative;
    height: 56px;
    display: grid;
    grid-template-columns: 1fr max-content;
}
form {
    width: clamp(300px, 65%, 600px);
    margin: 0 auto;
    margin-top: 200px;
    position: relative;
    border: none;
    box-shadow: 0px 1px 82px 1px #0002;
    border-radius: 5px;
    animation: 1s ease apear;
}
input::spelling-error {
    text-decoration: none;
}
#url:focus {
    outline: 1px solid #0053ac;
}
#url {
    height: 50px;
    caret-color: #f0f0f0;
    color: #f0f0f0f0;
    width: 100%;
    background: var(--box-bg);
    border: none;
    outline: 1px solid #121313;
    padding: 5px calc(15% + 5px) 5px 5px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
}
.effect {
    height: 50px;
    width: 15%;
    position: absolute;
    right: 0;
    transform: translateY(-100%);
    overflow: hidden;
}
::placeholder {
    color: #8d96a0;
    user-select: none;
}
.short-btn {
    background: var(--box-bg);
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px solid transparent;
    color: #f0f0f0;
    font-weight: 600;
    cursor: url('/res/cursor.svg') 10 10, auto;
}
.short-btn:hover, .short-btn:active, .short-btn:focus {
    outline: none;
    border: 2px solid #0059b8;
    background-color: var(--box-bg);
}
.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ffffff;
    border-radius: 50%;
    aspect-ratio: 1 / 2;
    width: 30%;
    animation: loader 2s linear infinite;
}
.loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 1 / 2;
    width: 100%;
    transform: rotate(120deg);
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}
.loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 1 / 2;
    width: 100%;
    transform: rotate(240deg);
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}
@keyframes loader {
   0% {
    transform: translate(-50%, -50%) rotate(0deg);
   } 100% {
    transform: translate(-50%, -50%) rotate(360deg);
   }
}
.author {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    justify-content: right;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    gap: 10px;
}
.nav-item {
    height: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    outline: 2px solid transparent;
}
.author > .github {
    opacity: 0.75;
    background-image: url('/res/github-icon.svg');
}
.author > .facebook {
    opacity: 0.75;
    background-size: 120% 120%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('/res/facebook.svg');
}
.author > .github:hover, .author > .facebook:hover {
    opacity: 1;
}
.author > .pic {
    filter: grayscale(70%);
    background-image: url('/res/developer.png');
}
.author > .pic:hover {
    outline: 2px solid #4765ff;
    filter: grayscale(0%);
}
.short-url {
    background: var(--box-bg);
    color: var(--primary-text-color);
    width: clamp(300px, 65%, 600px);
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 4fr;
    align-items: center;
    height: 70px;
    margin: 20px auto;
    animation: 1s ease apear;
    font-size: 1.2rem;
}
.shorten-box {
    overflow: hidden;
    display: grid;
    /* flex-wrap: nowrap; */
    grid-template-columns: 8fr 30px;
    align-items: center;
    padding: 7px;
    border-left: 1px solid #ffffff30;
}
::-webkit-scrollbar {
    display: none;
}
.copy-button {
    padding: 5px;
    display: grid;
    align-items: center;
    justify-items: center;
    outline: none;
    border: 2px solid transparent;
    aspect-ratio: 1 / 1;
    cursor: url('/res/cursor.svg') 10 10, auto;
    background-color: transparent;
}
.copy-button > img {
    width: 70%;
}
.copy-button:active {
    background-color: rgba(4, 174, 163, 0.05);
    border: 2px solid transparent;
}
.copy-button:hover {
    border: 2px solid #0050a5;
}
.batch {
    font-size: 1rem;
    justify-self: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#shorten {
    width: 100%;
    border-right: 5px solid #58a9ff01;
    border-left: 5px solid #58a9ff01;
    text-decoration: none;
    white-space: nowrap;
    color: var(--link-color);
    cursor: url('/res/cursor.svg') 10 10, auto;
    border-radius: 5px 0px 0px 5px;
    /* text-overflow: ellipsis; */
    background-repeat: repeat-x;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.shorten-box > div:nth-child(1)::-webkit-scrollbar {
    height: 3px;
    background-color: #2c92ff25;
}
.shorten-box > div:nth-child(1):hover::-webkit-scrollbar {
    display: block;
}
.shorten-box > div:nth-child(1)::-webkit-scrollbar-button {
    background-color: var(--link-color);
    width: 0px;
}
.shorten-box > div:nth-child(1)::-webkit-scrollbar-thumb {
    background-color: #5cabff50;
}
#shorten, .copy-button {
    height: 100%;
}
.shorten-box  div {
    height: 110%;
    display: flex;
    align-items: center;
    background: var(--shorten-box-bg);
    justify-content: center;
}
.shorten-box > div:nth-child(1) {
    overflow-x: scroll;
    overflow-y: hidden;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 100px #16181B inset;
    -webkit-text-fill-color: var(--primary-text-color);
}
footer {
    color: var(--secondary-text-color);
    position: absolute;
    cursor: url('/res/heart-icon.svg'), auto;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
}
footer > span {
    text-decoration: none;
    color: var(--secondary-text-color);
}
@keyframes apear {
    from {
        opacity: 0;
        transform: translateY(50%);
    } to {
        opacity: 1;
        transform: translateY(0%);
    }
}
.heart {
    position: fixed;
    opacity: 0;
    animation: fade .8s ease-out 1;
    user-select: none;
    cursor: url("/res/heart-icon.svg"), auto;
}
.heart-mobile {
    position: fixed;
    opacity: 0;
    animation: touchEffect .8s ease-out 1;
    user-select: none;
    transform: translate(-50%, -50%);

}
.clickEffect {
    position: fixed;
    opacity: 0;
    user-select: none;
    width: 10px;
    transform: translate(-40%, -40%);
    aspect-ratio: 1 / 1;
    border: 1px solid var(--secondary-text-color);
    filter: brightness(160%);
    animation: clickEffect .8s ease-out 1;
}
@keyframes touchEffect {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        transform: translate(-50%, -140%);
    }
}
@keyframes clickEffect {
    from {
        opacity: 1;
        transform: translate(-40%, -40%);
    } to {
        opacity: 0;
        transform: translate(-40%, -500%) rotate(200deg) scale(2);
    }
}
@keyframes fade {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        transform: translateY(-60%);
    }
}
.mouse {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: var(--t) ease-out;
    aspect-ratio: 1 / 1;
    width: var(--w);
    border: 2px solid #8d96a0;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: .5;
    z-index: 1;
}